.main {
  &__container {
    display: flex;
    justify-content: space-between;
    grid-gap: 4rem;
    padding-top: 9rem;

    @media only screen and (max-width: 56.25em) {
      padding-top: 6rem;
    }

    & h1 {
      max-width: 55rem;

      @media only screen and (max-width: 56.25em) {
        max-width: 44rem;
      }

      & span {
        font-size: 6rem;
        line-height: 10rem;
        font-family: "Besley", serif;

        @media only screen and (max-width: 56.25em) {
          font-size: 4rem;
          line-height: 6rem;
        }
      }
    }
  }

  &__paragraph {
    position: relative;
    font-size: 1.6rem;
    max-width: 21rem;
    line-height: 2.1rem;
    max-height: 10.5rem;
    color: #9095a7;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 30%; /* or 100px */
      border-bottom: 3px solid #f25f3a;

      @media only screen and (max-width: 56.25em) {
        width: 18%;
      }
    }

    @media only screen and (max-width: 56.25em) {
      display: none;
    }
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 2rem;
  margin-top: 4rem;

  &__paragraph {
    display: block;
    margin-top: 5rem;
    padding-bottom: 2rem;
    max-width: 32rem;
    @media only screen and (min-width: 56.25em) {
      display: none;
    }
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  grid-gap: 5rem;

  @media only screen and (max-width: 56.25em) {
    display: none;
  }

  & h2 {
    & span {
      display: block;
      font-family: "Besley", serif;
      font-size: 4rem;
      line-height: 1.2;
    }
  }

  &__items {
    list-style: none;
  }
  &__item {
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 4.5rem;
    }
  }

  &__links {
    font-weight: 600;
    text-decoration: none;
    font-size: 1.6rem;
    color: #9095a7;
  }
}

.btn {
  cursor: pointer;
  margin-top: 2rem;
  padding: 1.6rem 2rem;
  background-color: #f25f3a;
  color: #fff;
  border-radius: 30px;
  border: none;
  font-size: 1.6rem;
  transition: all 0.5s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }
}

.strikethrough {
  text-decoration: #f25f3a line-through;
}
